:root {
  --border-radius: 10px;
}

.card__container {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 1em 0 2em 0;
}

.card__container img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__container--info {
  padding: 1.5em;
  padding-bottom: 3em;
}

.card__container--info h1 {
  margin: 0;
  margin-bottom: 0.6em;
  font-size: 1em;
  font-weight: 500;
}

.card__container--info p {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.7;
}
