.cards__container {
  padding: 2em;
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media (min-width: 1280px) {
  .cards__container {
    padding: 3em 0;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    gap: 4em;
    justify-items: center;
  }
}
