.search__container {
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;

  border-radius: 5px;
  align-items: center;
}

.textbox {
  /* Styling of the textbox */
  border: none;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
  padding: 0 0 0 2em;
  width: 100%;
}

@media (min-width: 1280px) {
  .search__container {
    padding: 0.6rem 3rem 0.6rem 1.5rem;
    display: flex;
    flex-direction: row;

    border-radius: 5px;
    width: 30%;
    height: fit-content;
  }
}
